{% extends 'accounts/base.html' %}

{% block content %}

<br>

<div class="row">

	<div class="col">
    <div class="col-md">
      <div class="card text-center text-white  mb-3" id="orders-pending">
          <div class="card-header">
            <h5 class="card-title">Total Orders</h5>
          </div>
          <div class="card-body">
            <h3 class="card-title">{{processing}}</h3>
          </div>
      </div>
    </div>
  </div>

</div>

<br>

<h1>Maintenance</h1>

<br>
<div class="row">
	<div class="col">
		<button class="btn btn-info  btn-sm btn-block" id="appear" type="button" name="button">Search</button>
		<div class="card card-body" id="dissapear">
			<form method="get" class="row justify-content-center">

				{{myMaintenanceOrderFilter.form}}

				<button class="btn btn-info" type="submit">Search</button>

		  </form>
		</div>
	</div>

</div>
<br>

<div class="row">
	<!-- <div class="col-md-4">
		<h5>STUDENTS:</h5>
		<hr>
		<div class="card card-body">
			<a class="btn btn-primary  btn-sm btn-block" href="{% url 'all_students' %}">All Students</a>
			<table class="table table-sm">
				<tr>
					<th></th>
					<th>Student</th>
					<th>ID</th>
				</tr>

        {% for student in students %}
        <tr>
          <td><a class="btn btn-sm btn-secondary" href="{% url 'student' student.id %}">View</a></td>
          <td>{{ student.name }}</td>
          <td>{{ student.student_id }}</td>
        </tr>
        {% endfor %}

			</table>
		</div>
	</div> -->

	<div class="col-md">
		<h5>ALL ORDERS</h5>
		<hr>
		<div class="card card-body">
			<table class="table table-sm">
				<tr>
					<th>Order</th>
					<th>Date Ordered</th>
					<th>Dorm</th>
					<th>Repair Date</th>
					<th>Update</th>
				</tr>

        {% for order in orders %}
        <tr>
          <td>{{ order.work_order }}</td>
          <td>{{ order.date_created }}</td>
          <td>{{ order.dorm }}</td>
          <td>{{ order.repair_date }}</td>
          <td><a class="btn btn-sm btn-warning" href="{% url 'update_order' order.id %}">Update</a></td>

        </tr>
        {% endfor %}

			</table>
		</div>
	</div>

</div>

{% endblock %}
